@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Contract" asp-action="Index"> IndexUmowy </a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Contract" asp-action="Contracts"> Lista Umów </a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index"> Pracownicy </a>
</div>
